@model bgk_gorev_kategori

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="table">
    <div class="content">
        <div class="sections">
            <a class="active" href="@Url.Action("index", "missioncategory")" style="width: 50%;">Kategoriler</a>
            <a href="@Url.Action("index", "mission")" style="width: 49.9%;">Görevler</a>
        </div>
    </div>
</div>

<div class="table">
    <div class="title">Kategori Ekle</div>
    <div class="content">
        <div class="form">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                <ul>
                    <li>@Html.LabelFor(model => model.Adi)</li>
                    <li>@Html.EditorFor(model => model.Adi)</li>
                    <li>@Html.ValidationMessageFor(model => model.Adi)</li>
                </ul>
                <ul>
                    <li>@Html.LabelFor(model => model.Aciklama)</li>
                    <li>@Html.TextAreaFor(model => model.Aciklama)</li>
                    <li>@Html.ValidationMessageFor(model => model.Aciklama)</li>
                </ul>
                <ul>
                    <li>@Html.LabelFor(model => model.OlusturanID)</li>
                    <li>@Html.DropDownList("OlusturanID")</li>
                    <li>@Html.ValidationMessageFor(model => model.OlusturanID)</li>
                </ul>
                <ul>
                    <li>@Html.LabelFor(model => model.ResimID)</li>
                    <li>@Html.EditorFor(model => model.ResimID)</li>
                    <li>@Html.ValidationMessageFor(model => model.ResimID)</li>
                </ul>
                <ul>
                    <li>@Html.LabelFor(model => model.PuanSiniri)</li>
                    <li>@Html.EditorFor(model => model.PuanSiniri)</li>
                    <li>@Html.ValidationMessageFor(model => model.PuanSiniri)</li>
                </ul>
                <ul>
                    <li>@Html.LabelFor(model => model.Sira)</li>
                    <li>@Html.EditorFor(model => model.Sira)</li>
                    <li>@Html.ValidationMessageFor(model => model.Sira)</li>
                </ul>
                <ul>
                    <li>@Html.LabelFor(model => model.Onay)</li>
                    <li>@Html.EditorFor(model => model.Onay)</li>
                    <li>@Html.ValidationMessageFor(model => model.Onay)</li>
                </ul>
                <ul>
                    <li>Kaydet</li>
                    <li>
                        @Html.Button("Kaydet", new { type = "submit" })
                        @Html.Button("Vazgeç", new { onclick = "window.location.href='" + Url.Action("index") + "';" })
                    </li>
                </ul>
                @Html.MyEditor("Aciklama", "Full")
            }
        </div>
    </div>
</div>