@model IEnumerable<bgk_gorev_kategori>
@{
    int i = 0;
}

<script type="text/javascript">
    function ChangeApproval(id) {
        $.post("@Url.Action("changeapproval")/" + id, { id: id }, function (msg) { $("a#" + id + "_approval").fadeOut(500).fadeIn(500, function () { $("a#" + id + "_approval").attr("class", $("a#" + id + "_approval").attr("class") == "approved" ? "deprecated" : "approved").attr("title", $("a#" + id + "_approval").attr("class") == "approved" ? "Onayı Kaldır" : "Onayla"); }); $("body").append(msg); });
    }
</script>

<div class="table">
    <div class="content">
        <div class="sections">
            <a class="active" href="@Url.Action("index", "missioncategory")" style="width: 50%;">Kategoriler</a>
            <a href="@Url.Action("index", "mission")" style="width: 49.9%;">Görevler</a>
        </div>
    </div>
</div>

<div class="table">
    <div class="title">
        Kategoriler
        <span>@Html.ActionLink("Yeni Kategori", "create")</span>
    </div>
    <div class="content">
        <div class="list">
            <ul>
                <li style="width: 7%;">@Html.Label("Sıra")</li>
                <li style="width: 48%;">@Html.Label("Adı")</li>
                <li style="width: 15%; text-align: center;">@Html.Label("Abone Sayısı")</li>
                <li style="width: 15%; text-align: center;">@Html.Label("Görev Sayısı")</li>
                <li style="width: 13%;">@Html.Label("Araçlar")</li>
            </ul>
            @foreach (var category in Model)
            {
                i++;
                <ul class="@(i % 2 == 0 ? "second" : "first")">
                    <li style="width: 7%;">@Html.DisplayFor(modelItem => category.Sira)</li>
                    <li style="width: 48%;">@category.Adi.GetSummary(100)</li>
                    <li style="width: 15%; text-align: center;">@category.bgk_gorev_kategori_uye.Count()</li>
                    <li style="width: 15%; text-align: center;">@category.bgk_gorev.Count()</li>
                    <li style="width: 13%;">
                        <a id="@(category.Id + "_approval")" class="@(category.Onay == true ? "approved" : "deprecated")" title="@(category.Onay == true ? "Onayı Kaldır" : "Onayla")" href="javascript:void(0)" onclick="ChangeApproval('@category.Id')"></a>
                        @Html.ActionLink(" ", "edit", new { num = category.Id }, new { @class = "edit", title = "Düzenle" })
                        @Html.ActionLink(" ", "details", new { num = category.Id }, new { @class = "details", title = "Detay" })
                        @Html.ActionLink(" ", "delete", new { num = category.Id }, new { @class = "delete", title = "Sil" })
                    </li>
                </ul>
            }
        </div>
    </div>
</div>