@model bgk_yazi

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="table">
    <div class="content">
        <div class="sections">
            <a href="@Url.Action("index", "category")" style="width: 33%;">Kategoriler</a>
            <a class="active" href="@Url.Action("index", "post")" style="width: 33%;">Yazılar</a>
            <a href="@Url.Action("index", "comment")" style="width: 33%;">Yorumlar</a>
        </div>
    </div>
</div>
<div class="table">
    <div class="title">Yazı Düzenle</div>
    <div class="content">
        <div class="form">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                <ul>
                    <li>@Html.LabelFor(model => model.Baslik)</li>
                    <li>@Html.EditorFor(model => model.Baslik)</li>
                    <li>@Html.ValidationMessageFor(model => model.Baslik)</li>
                </ul>
                <ul>
                    <li>@Html.LabelFor(model => model.Ozet)</li>
                    <li>@Html.TextAreaFor(model => model.Ozet)</li>
                    <li>@Html.ValidationMessageFor(model => model.Ozet)</li>
                </ul>
                <ul>
                    <li>@Html.LabelFor(model => model.Icerik)</li>
                    <li>@Html.TextAreaFor(model => model.Icerik)</li>
                    <li>@Html.ValidationMessageFor(model => model.Icerik)</li>
                </ul>
                <ul>
                    <li>@Html.LabelFor(model => model.KategoriID)</li>
                    <li>@Html.DropDownList("KategoriID", String.Empty)</li>
                    <li>@Html.ValidationMessageFor(model => model.KategoriID)</li>
                </ul>
                <ul>
                    <li>@Html.LabelFor(model => model.Manset)</li>
                    <li>@Html.EditorFor(model => model.Manset)</li>
                    <li>@Html.ValidationMessageFor(model => model.Manset)</li>
                </ul>
                <ul>
                    <li>@Html.LabelFor(model => model.Onay)</li>
                    <li>@Html.EditorFor(model => model.Onay)</li>
                    <li>@Html.ValidationMessageFor(model => model.Onay)</li>
                </ul>
                <ul>
                    <li>Kaydet</li>
                    <li>
                        @Html.Button("Kaydet", new { type = "submit" })
                        @Html.Button("Vazgeç", new { onclick = "window.location.href='" + Url.Action("index") + "';" })
                    </li>
                </ul>
                @Html.MyEditor("Ozet", "Full")
                @Html.MyEditor("Icerik", "Full")
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.UyeID)
                @Html.HiddenFor(model => model.YazimTarihi)
                @Html.HiddenFor(model => model.Okunma)
            }
        </div>
    </div>
</div>