@model IEnumerable<bgk_uye>
@{
    int count = Convert.ToInt32(ViewBag.count);
    int take = Convert.ToInt32(ViewBag.take);
    int i = 0;
}

<script type="text/javascript">
    function ChangeApproval(id) {
        $.post("@Url.Action("changeapproval")/" + id, { id: id }, function (msg) { $("a#" + id + "_approval").fadeOut(500).fadeIn(500, function () { $("a#" + id + "_approval").attr("class", $("a#" + id + "_approval").attr("class") == "approved" ? "deprecated" : "approved").attr("title", $("a#" + id + "_approval").attr("class") == "approved" ? "Onayı Kaldır" : "Onayla"); }); $("body").append(msg); });
    }
</script>

<div class="table">
    <div class="content">
        <div class="sections">
            <a href="@Url.Action("index", "group")" style="width: 25%;">Gruplar</a>
            <a class="active" href="@Url.Action("index", "member")" style="width: 24%;">Üyeler</a>
            <a href="@Url.Action("index", "role")" style="width: 25%;">Yetkiler</a>
            <a href="@Url.Action("index", "grade")" style="width: 25%;">Seviyeler</a>
        </div>
    </div>
</div>
<div class="table">
    <div class="title">Üyeler
        <span>
            @Html.ActionLink("Yeni Üye", "create") | 
            <a href="javascript:void(0);" onclick="$.BGK.FormModal('@Url.Action("sendmessage", new { num = 0 })', 'Gönder', 'Vazgeç');">Toplu Mesaj</a></span>
    </div>
    <div class="content">
        <div class="list">
            <ul>
                <li style="width: 12%;">@Html.Label("Öğrenci No")</li>
                <li style="width: 25%;">@Html.Label("Adı")</li>
                <li style="width: 25%;">@Html.Label("Email")</li>
                <li style="width: 20%;">@Html.Label("Yetki")</li>
                <li style="width: 15%;">@Html.Label("Araçlar")</li>
            </ul>
            @foreach (var member in Model)
            {
                i++;
                <ul class="@(i % 2 == 0 ? "second" : "first")">
                    <li style="width: 12%;">@member.OgrenciNo</li>
                    <li style="width: 25%;">@Html.DisplayFor(modelItem => member.AdSoyad)</li>
                    <li style="width: 25%;">@Html.DisplayFor(modelItem => member.Email)</li>
                    <li style="width: 20%;">@Html.Raw(member.GetMemberRole().Adi)</li>
                    <li style="width: 15%;">
                        <a id="@(member.Id + "_approval")" class="@(member.Onay == true ? "approved" : "deprecated")" title="@(member.Onay == true ? "Onayı Kaldır" : "Onayla")" href="javascript:void(0)" onclick="ChangeApproval('@member.Id')"></a>
                        @Html.ActionLink(" ", "edit", new { num = member.Id }, new { @class = "edit", title = "Düzenle" })
                        @Html.ActionLink(" ", "details", new { num = member.Id }, new { @class = "details", title = "Detay" })
                        <a class="delete" title="Sil" href="javascript:void(0);" onclick="$.BGK.FormModal('@Url.Action("delete", new { num = member.Id })', 'Eminim, sil', 'Vazgeç');"> </a>
                    </li>
                </ul>
            }
        </div>
    </div>
</div>
@Html.Paging()