@model bgk_grup_uye
@{
    List<SelectListItem> tips = new List<SelectListItem>();
    tips.Add(new SelectListItem { Text = "Başkan", Value = "1" });
    tips.Add(new SelectListItem { Text = "Başkan Yardımcısı", Value = "2" });
    tips.Add(new SelectListItem { Text = "Normal Üye", Value = "3" });    
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="table">
    <div class="content">
        <div class="sections">
            <a class="active" href="@Url.Action("index", "group")" style="width: 25%;">Gruplar</a>
            <a href="@Url.Action("index", "member")" style="width: 24%;">Üyeler</a>
            <a href="@Url.Action("index", "role")" style="width: 25%;">Yetkiler</a>
            <a href="@Url.Action("index", "grade")" style="width: 25%;">Seviyeler</a>
        </div>
    </div>
</div>
<div class="table">
    <div class="title">@ViewBag.groupName Grubuna Üye Ekle</div>
    <div class="content">
        <div class="form">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <ul>
                    <li>@Html.LabelFor(model => model.GrupID)</li>
                    <li>@Model.bgk_grup.Adi</li>
                </ul>
                <ul>
                    <li>@Html.LabelFor(model => model.UyeID)</li>
                    <li>@Model.bgk_uye.AdSoyad</li>
                </ul>
                <ul>
                    <li>@Html.LabelFor(model => model.Aciklama)</li>
                    <li>@Html.EditorFor(model => model.Aciklama)</li>
                    <li>@Html.ValidationMessageFor(model => model.Aciklama)</li>
                </ul>
                <ul>
                    <li>@Html.LabelFor(model => model.Tip)</li>
                    <li>@Html.DropDownListFor(model => model.Tip, tips)</li>
                    <li>@Html.ValidationMessageFor(model => model.Tip)</li>
                </ul>
                <ul>
                    <li>@Html.LabelFor(model => model.Aktif)</li>
                    <li>@Html.EditorFor(model => model.Aktif)</li>
                    <li>@Html.ValidationMessageFor(model => model.Aktif)</li>
                </ul>
                <ul>
                    <li>@Html.LabelFor(model => model.BaslangicTarihi)</li>
                    <li>@Html.EditorFor(model => model.BaslangicTarihi)</li>
                    <li>@Html.ValidationMessageFor(model => model.BaslangicTarihi)</li>
                </ul>
                <ul>
                    <li>@Html.LabelFor(model => model.BitisTarihi)</li>
                    <li>@Html.EditorFor(model => model.BitisTarihi)</li>
                    <li>@Html.ValidationMessageFor(model => model.BitisTarihi)</li>
                </ul>
                <ul>
                    <li>Kaydet</li>
                    <li>
                        @Html.Button("Kaydet", new { type = "submit" })
                        @Html.Button("Vazgeç", new { onclick = "window.location.href='" + Url.Action("index") + "';" })
                    </li>
                </ul>
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.GrupID)
                @Html.HiddenFor(model => model.UyeID)
            }
        </div>
    </div>
</div>