@model IEnumerable<bgk_yazi>
@{
    int count = Convert.ToInt32(ViewBag.count);
    int take = Convert.ToInt32(ViewBag.take);
    int memberID = Convert.ToInt32(ViewBag.memberID);
    var member = BGKFunction.GetMember(memberID);
    int i = 0;
}

<div class="table">
    <div class="title">@member.AdSoyad > Yazılar</div>
    <div class="content list" style="padding: 0;">
        @if (count == 0)
        {
            <div class="warning">
                Bu üyemiz henüz yazı yazmamış :(
            </div>
        }
        @foreach (var post in Model)
        {
            i++;
            <a href="@Url.Action("Details", "Post", new { id = post.Id, seo = post.Seo })">
                <ul class="@(i % 2 == 0 ? "second" : "first")">
                    <li class="name">@post.Baslik<br />
                        <span>@post.Icerik.GetSummary(100)</span>
                    </li>
                </ul>
            </a>
        }
    </div>
</div>
@Html.Paging()