@model bgk_sayfa

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $("#Adi").change(function () {
            fore
            $("#Seo").val();
        });
    });
</script>
<div class="table">
    <div class="content">
        <div class="sections">
            <a href="@Url.Action("index", "menu")" style="width: 50%;">Linkler</a>
            <a class="active" href="@Url.Action("index", "page")" style="width: 49%;">Sayfalar</a>
        </div>
    </div>
</div>

<div class="table">
    <div class="title">Sayfa Ekle</div>
    <div class="content">
        <div class="form">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <ul>
                    <li>@Html.LabelFor(model => model.Adi)</li>
                    <li>@Html.EditorFor(model => model.Adi)</li>
                    <li>@Html.ValidationMessageFor(model => model.Adi)</li>
                </ul>
                <ul>
                    <li>@Html.LabelFor(model => model.Icerik)</li>
                    <li>@Html.TextAreaFor(model => model.Icerik)</li>
                    <li>@Html.ValidationMessageFor(model => model.Icerik)</li>
                </ul>
                <ul>
                    <li>@Html.LabelFor(model => model.Seo)</li>
                    <li>@Html.EditorFor(model => model.Seo)</li>
                    <li>@Html.ValidationMessageFor(model => model.Seo)</li>
                </ul>
                <ul>
                    <li>@Html.LabelFor(model => model.Onay)</li>
                    <li>@Html.EditorFor(model => model.Onay)</li>
                    <li>@Html.ValidationMessageFor(model => model.Onay)</li>
                </ul>
                <ul>
                    <li>Kaydet</li>
                    <li>
                        @Html.Button("Kaydet", new { type = "submit" })
                        @Html.Button("Vazgeç", new { onclick = "window.location.href='" + Url.Action("index") + "';" })
                    </li>
                </ul>
                @Html.MyEditor("Icerik", "Full")
            }
        </div>
    </div>
</div>