@model notice
@{
    ViewBag.Title = "Duyuru Detayları";
}

<div class="detail">
    <ul>
        <li>@Html.DisplayNameFor(model => model.Title)</li>
        <li>@Html.DisplayFor(model => model.Title)</li>
    </ul>
    <ul>
        <li>@Html.DisplayNameFor(model => model.Content)</li>
        <li>@Html.DisplayFor(model => model.Content)</li>
    </ul>
    <ul>
        <li>@Html.DisplayNameFor(model => model.CreationDate)</li>
        <li>@Html.DisplayFor(model => model.CreationDate)</li>
    </ul>
    <ul>
        <li>@Html.DisplayNameFor(model => model.Sort)</li>
        <li>@Html.DisplayFor(model => model.Sort)</li>
    </ul>
    <ul>
        <li>@Html.DisplayNameFor(model => model.IsApproval)</li>
        <li>@Html.DisplayFor(model => model.IsApproval)</li>
    </ul>
</div>
<p>
    @Html.Button("Düzenle", new { onclick = "OpenNewPage('" + Url.Action("edit", new { num = Model.Id }) + "');" })
    @Html.Button("Sil", new { onclick = "OpenNewPage('" + Url.Action("delete", new { num = Model.Id }) + "');" })
</p>