<!DOCTYPE html>

<html>
<head>
    <title>OK Blog | Microsoft Yaz Okulu '14</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="@Url.Content("~/Themes/Default/StyleSheet.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.3.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.mousewheel.js" )"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/OKBlog.js")"></script>
</head>
<body>
    <div class="page">
        <div class="header">
            <div class="logo">
                OK Blog
                <span>Microsoft Yaz Okulu '14</span>
            </div>
        </div>
        <div class="container">
            <div class="sections">
                <div class="section">
                    <div class="menu">
                        <ul>
                            <li style="background-color: #F25022;" onclick="openPage('/')">Anasayfa</li>
                            <li style="background-color: #7FBA00;" onclick="openPage('/categories')">Kategoriler</li>
                            <li style="background-color: #00A4EF;" onclick="openPage('/tags')">Etiketler</li>
                            <li style="background-color: #FFB900;" onclick="openPage('/about')">Hakkımda</li>
                        </ul>
                    </div>
                </div>
                <div class="content">
                    @RenderBody()
                    <!--
                    <div class="section">
                        <h1>Microsoft Yaz Okulu '14 Başlıyor!</h1>
                        Başlıktan da anlayacağınız gibi Microsoft Yaz Okulu '14 dönemi 4 Ağustos günü başlıyor.
                        Aslında biz daha önceden hazırlıklara başladık ve MSP(Microsoft Student Partner) olan arkadaşlarımız ile yaklaşık 2 aydır webiner yapıyoruz.<br /><br />
                        Şüphesiz ki yaz okulu çok eğlenceli ve bilgi dolu geçecek.
                        Tabiki en önemlisi eğitimlerimizi sektörün önde gelen şirketlerin yüksek mevkilerindeki uzmanlardan alacağız, bu da bize daha gerçekçi yol göstereceğini düşünüyorum.<br /><br />
                        Daha önceden herhangi bir blog çalışmam olmadı fakat yaz okulunda benimle birlikte yaklaşık 110 arkadaşımda günü gününe neler yaptığımızı anlatacak.
                        Hatta önceki senelerden farklı olarak bu sene yaz okulu <a>Açık Akademi TV</a>'den canlı olarak herkese açık bir şekilde izlenebilecek.<br /><br />
                        Umarım sizin de, bizim de zevk alarak geçireceğimiz bir okul olur. Dediğim gibi yaz okulunda olanlar için blogumu takip edebilirsiniz.<br /><br />
                        Görüşmek üzere..
                    </div>
                    <div class="section">
                        <h1>Lorem Ipsum Nedir?</h1>
                        Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır. Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek değişmeden elektronik dizgiye de sıçramıştır. 1960'larda Lorem Ipsum pasajları da içeren Letraset yapraklarının yayınlanması ile ve yakın zamanda Aldus PageMaker gibi Lorem Ipsum sürümleri içeren masaüstü yayıncılık yazılımları ile popüler olmuştur.
                        <br />
                        <br />
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>
                    <div class="section">
                        <h1>Nereden Gelir?</h1>
                        Yaygın inancın tersine, Lorem Ipsum rastgele sözcüklerden oluşmaz. Kökleri M.Ö. 45 tarihinden bu yana klasik Latin edebiyatına kadar uzanan 2000 yıllık bir geçmişi vardır. Virginia'daki Hampden-Sydney College'dan Latince profesörü Richard McClintock, bir Lorem Ipsum pasajında geçen ve anlaşılması en güç sözcüklerden biri olan 'consectetur' sözcüğünün klasik edebiyattaki örneklerini incelediğinde kesin bir kaynağa ulaşmıştır. Lorm Ipsum, Çiçero tarafından M.Ö. 45 tarihinde kaleme alınan "de Finibus Bonorum et Malorum" (İyi ve Kötünün Uç Sınırları) eserinin 1.10.32 ve 1.10.33 sayılı bölümlerinden gelmektedir. Bu kitap, ahlak kuramı üzerine bir tezdir ve Rönesans döneminde çok popüler olmuştur. Lorem Ipsum pasajının ilk satırı olan "Lorem ipsum dolor sit amet" 1.10.32 sayılı bölümdeki bir satırdan gelmektedir.    
                        <br />
                        <br />
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.    
                    </div>
                    <div class="section">
                        <h1>Neden Kullanırız?</h1>
                        Yinelenen bir sayfa içeriğinin okuyucunun dikkatini dağıttığı bilinen bir gerçektir. Lorem Ipsum kullanmanın amacı, sürekli 'buraya metin gelecek, buraya metin gelecek' yazmaya kıyasla daha dengeli bir harf dağılımı sağlayarak okunurluğu artırmasıdır. Şu anda birçok masaüstü yayıncılık paketi ve web sayfa düzenleyicisi, varsayılan mıgır metinler olarak Lorem Ipsum kullanmaktadır. Ayrıca arama motorlarında 'lorem ipsum' anahtar sözcükleri ile arama yapıldığında henüz tasarım aşamasında olan çok sayıda site listelenir. Yıllar içinde, bazen kazara, bazen bilinçli olarak (örneğin mizah katılarak), çeşitli sürümleri geliştirilmiştir.
                        <br />
                        <br />
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                    </div>
                    <div class="section">
                        <h1>Nereden Bulabilirim?</h1>
                        Lorem Ipsum pasajlarının birçok çeşitlemesi vardır. Ancak bunların büyük bir çoğunluğu mizah katılarak veya rastgele sözcükler eklenerek değiştirilmişlerdir. Eğer bir Lorem Ipsum pasajı kullanacaksanız, metin aralarına utandırıcı sözcükler gizlenmediğinden emin olmanız gerekir. İnternet'teki tüm Lorem Ipsum üreteçleri önceden belirlenmiş metin bloklarını yineler. Bu da, bu üreteci İnternet üzerindeki gerçek Lorem Ipsum üreteci yapar. Bu üreteç, 200'den fazla Latince sözcük ve onlara ait cümle yapılarını içeren bir sözlük kullanır. Bu nedenle, üretilen Lorem Ipsum metinleri yinelemelerden, mizahtan ve karakteristik olmayan sözcüklerden uzaktır.
                        <br />
                        <br />
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                    </div>
                    <div class="section">
                        <h1>What's up?</h1>
                    </div>
                    <div class="pages">
                        <ul>
                            <li class="active">0</li>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                        </ul>
                    </div>
                </div>
                        -->
                </div>
            </div>
        </div>
        <div class="footer">
            Copyright &copy; Oğuzhan Kiyar
        </div>
    </div>
</body>
</html>