@model club_menulink
@{
    ViewBag.Title = "Link Detayları";
}

<div class="detail">
    <ul>
        <li>@Html.LabelFor(model => model.Name)</li>
        <li>@Html.DisplayFor(model => model.Name)</li>
    </ul>
    <ul>
        <li>@Html.LabelFor(model => model.OnClick)</li>
        <li>@Html.DisplayFor(model => model.OnClick)</li>
    </ul>
    <ul>
        <li>@Html.LabelFor(model => model.Type)</li>
        <li>@Html.Display(Model.Type == 1 ? "Üst Menü Linki" : "Alt Menü Linki")</li>
    </ul>
    <ul>
        <li>@Html.LabelFor(model => model.Sort)</li>
        <li>@Html.DisplayFor(model => model.Sort)</li>
    </ul>
    <ul>
        <li>@Html.LabelFor(model => model.IsApproval)</li>
        <li>@Html.DisplayFor(model => model.IsApproval)</li>
    </ul>
</div>
<p>
    @Html.Button("Düzenle", new { onclick = "OpenNewPage('" + Url.Action("edit", new { num = Model.Id }) + "');" })
    @Html.Button("Sil", new { onclick = "OpenNewPage('" + Url.Action("delete", new { num = Model.Id }) + "');" })
</p>