@model IEnumerable<bgk_dosya>
@{
    int i = 0;
    int count = Convert.ToInt32(ViewBag.count);
    int take = Convert.ToInt32(ViewBag.take);
}
<div class="table">
    <div class="title">Dosyalar
        <span>@Html.ActionLink("Yeni Dosya", "create")</span>
    </div>
    <div class="content">
        <div class="list">
            <ul>
                <li style="width: 7%;">@Html.Label("Id")</li>
                <li style="width: 48%;">@Html.Label("Dosya Adı")</li>
                <li style="width: 15%; text-align: center;">@Html.Label("Dosya Tipi")</li>
                <li style="width: 20%;">@Html.Label("Yükleme Tarihi")</li>
                <li style="width: 7%;">@Html.Label("Araçlar")</li>
            </ul>
            @foreach (var upload in Model)
            {
                i++;
                <ul class="@(i % 2 == 0 ? "second" : "first")">
                    <li style="width: 7%;">@Html.DisplayFor(modelItem => upload.Id)</li>
                    <li style="width: 48%;" title="@(upload.DosyaAdi.Length > 75 ? upload.DosyaAdi : "")">@upload.DosyaAdi.GetSummary(70)</li>
                    <li style="width: 15%; text-align: center;">@Html.DisplayFor(modelItem => upload.DosyaTipi)</li>
                    <li style="width: 20%;">@Html.ShortDateTime(upload.YuklenmeTarihi)</li>
                    <li style="width: 7%;">
                        <a class="details" title="Detay" href="javascript:void(0);" onclick="$.BGK.Modal('@Url.Action("details", new { num = upload.Id })');"> </a>
                        <a class="delete" title="Sil" href="javascript:void(0);" onclick="$.BGK.FormModal('@Url.Action("delete", new { num = upload.Id })', 'Eminim, sil', 'Vazgeç');"> </a>
                    </li>
                </ul>
            }
        </div>
    </div>
</div>
@Html.Paging()