@model comment
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $("div.quote div").attr("style","max-height: 150px; max-width: 98%; overflow-x: scroll;");
    });
</script>

<div class="title">Yeni Cevap</div>
<div class="content" style="width: 700px;">
    @if (Model.QuoteId != null)
    {
        OKDbEntities Db = new OKDbEntities();
        comment comment = new comment() { Content = "", QuoteId = Model.QuoteId };
        <div class="quote">@Html.ViewComment(comment)</div>
    }
    @using (Html.BeginForm("CreateCommentSave", "Forum", FormMethod.Post))
    {    
        <div class="form">
            <ul>
                <li><b>@Html.LabelFor(model => model.Content)</b>@Html.DescriptionFor(model => model.Content)</li>
                <li>@Html.TextAreaFor(model => model.Content)</li>
            </ul>
            @Html.MyEditor("Content", "Standard")
            @Html.HiddenFor(model => model.TopicId)
            @Html.HiddenFor(model => model.WriterId)
            @Html.HiddenFor(model => model.QuoteId)
        </div>
    }
</div>