@model IEnumerable<bgk_yorum>
@{
    int count = Convert.ToInt32(ViewBag.count);
    int take = Convert.ToInt32(ViewBag.take);
    int i = 0;
}
<script type="text/javascript">
    function ChangeApproval(id) {
        $.post("@Url.Action("changeapproval")/" + id, { id: id }, function (msg) { $("a#" + id + "_approval").fadeOut(500).fadeIn(500, function () { $("a#" + id + "_approval").attr("class", $("a#" + id + "_approval").attr("class") == "approved" ? "deprecated" : "approved").attr("title", $("a#" + id + "_approval").attr("class") == "approved" ? "Onayı Kaldır" : "Onayla"); }); $("body").append(msg); });
    }
</script>
<div class="table">
    <div class="content">
        <div class="sections">
            <a href="@Url.Action("index", "category")" style="width: 33%;">Kategoriler</a>
            <a href="@Url.Action("index", "post")" style="width: 33%;">Yazılar</a>
            <a class="active" href="@Url.Action("index", "comment")" style="width: 33.8%;">Yorumlar</a>
        </div>
    </div>
</div>
<div class="table">
    <div class="title">Yorumlar
        <span>@Html.ActionLink("Yeni Yorum", "create")</span>
    </div>
    <div class="content">
        <div class="list">
            <ul>
                <li style="width: 43%;">@Html.Label("Yazı")</li>
                <li style="width: 20%;">@Html.Label("Yazan")</li>
                <li style="width: 20%;">@Html.Label("Tarih")</li>
                <li style="width: 15%;">@Html.Label("Araçlar")</li>
            </ul>
            @foreach (var comment in Model)
            {
                i++;
                <ul class="@(i % 2 == 0 ? "second" : "first")">
                    <li style="width: 43%;">@comment.bgk_yazi.Baslik.GetSummary(100)</li>
                    <li style="width: 20%;">@(comment.bgk_uye == null ? comment.Yazan : comment.bgk_uye.AdSoyad)</li>
                    <li style="width: 20%;">@Html.ShortDateTime(comment.YazilmaTarihi)</li>
                    <li style="width: 15%;">
                        <a id="@(comment.Id + "_approval")" class="@(comment.Onay == true ? "approved" : "deprecated")" title="@(comment.Onay == true ? "Onayı Kaldır" : "Onayla")" href="javascript:void(0)" onclick="ChangeApproval('@comment.Id')"></a>
                        <a href="javascript:void(0);" class="details" title="Detay" onclick="$.BGK.Modal('@Url.Action("details", new { num = comment.Id })');"> </a>
                        @Html.ActionLink(" ", "edit", new { num = comment.Id }, new { @class = "edit", title = "Düzenle" })
                        <a href="javascript:void(0);" class="delete" title="Sil" onclick="$.BGK.FormModal('@Url.Action("delete", new { num = comment.Id })', 'Eminim, sil', 'Vazgeç');"> </a>
                    </li>
                </ul>
            }
        </div>
    </div>
</div>
@Html.Paging()
