@model IEnumerable<bgk_seviye>
@{
    int i = 0;
}

<div class="table">
    <div class="content">
        <div class="sections">
            <a href="@Url.Action("index", "group")" style="width: 25%;">Gruplar</a>
            <a href="@Url.Action("index", "member")" style="width: 24%;">Üyeler</a>
            <a href="@Url.Action("index", "role")" style="width: 25%;">Yetkiler</a>
            <a class="active" href="@Url.Action("index", "grade")" style="width: 25%;">Seviyeler</a>
        </div>
    </div>
</div>
<div class="table">
    <div class="title">Seviyeler
        <span>@Html.ActionLink("Yeni Seviye", "create")</span>
    </div>
    <div class="content">
        <div class="list">
            <ul>
                <li style="width: 25%;">@Html.Label("Adı")</li>
                <li style="width: 49%;">@Html.Label("Açıklama")</li>
                <li style="width: 17%; text-align: center;">@Html.Label("Alt Sınır")</li>
                <li style="width: 7%;">@Html.Label("Araçlar")</li>
            </ul>
            @foreach (var grade in Model)
            {
                i++;
                <ul class="@(i % 2 == 0 ? "second" : "first")">
                    <li style="width: 25%;">@Html.Raw(grade.Adi)</li>
                    <li style="width: 49%;" title="@(grade.Aciklama.Length > 75 ? grade.Aciklama : "")">@grade.Aciklama.GetSummary(75)</li>
                    <li style="width: 17%; text-align: center;">@Html.DisplayFor(modelItem => grade.AltSinir)</li>
                    <li style="width: 7%;">
                        @Html.ActionLink(" ", "edit", new { num = grade.Id }, new { @class = "edit", title = "Düzenle" })
                        <a class="delete" title="Sil" href="javascript:void(0);" onclick="$.BGK.FormModal('@Url.Action("delete", new { num = grade.Id })', 'Eminim, sil', 'Vazgeç');"> </a>
                    </li>
                </ul>
            }
        </div>
    </div>
</div>