@model IEnumerable<OKPort.Models.Section>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sort)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsApproval)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SectionTemplate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryTemplate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostTemplate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Page.Name)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsApproval)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SectionTemplate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryTemplate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostTemplate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Page.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
