@model bgk_grup_uye
@{
    ViewBag.Title = "Üye Ekle";
    var group = (bgk_grup)ViewBag.group;
    List<SelectListItem> tips = new List<SelectListItem>();
    tips.Add(new SelectListItem { Text = "Normal Üye", Value = "3" });
    tips.Add(new SelectListItem { Text = "Başkan Yardımcısı", Value = "2" });
    tips.Add(new SelectListItem { Text = "Başkan", Value = "1" });
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div class="table">
    <div class="title">Üye Ekle</div>
    <div class="content">
        @using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
            <div class="form">
                <ul>
                    <li>@Html.LabelFor(model => model.GrupID)</li>
                    <li>@group.Adi</li>
                </ul>
                <ul>
                    <li>@Html.LabelFor(model => model.UyeID)</li>
                    <li>@Html.DropDownList("UyeID", String.Empty)</li>
                    <li>@Html.ValidationMessageFor(model => model.UyeID)</li>
                </ul>
                <ul>
                    <li>@Html.LabelFor(model => model.Aciklama)</li>
                    <li>@Html.EditorFor(model => model.Aciklama)</li>
                    <li>@Html.ValidationMessageFor(model => model.Aciklama)</li>
                </ul>
                <ul>
                    <li>@Html.LabelFor(model => model.Tip)</li>
                    <li>@Html.DropDownListFor(model => model.Tip, tips)</li>
                    <li>@Html.ValidationMessageFor(model => model.Tip)</li>
                </ul>
                <ul>
                    <li>@Html.LabelFor(model => model.BaslangicTarihi)</li>
                    <li>@Html.EditorFor(model => model.BaslangicTarihi)</li>
                    <li>@Html.ValidationMessageFor(model => model.BaslangicTarihi)</li>
                </ul>
                <ul>
                    <li>@Html.LabelFor(model => model.BitisTarihi)</li>
                    <li>@Html.EditorFor(model => model.BitisTarihi)</li>
                    <li>@Html.ValidationMessageFor(model => model.BitisTarihi)</li>
                </ul>
                <ul>
                    <li>@Html.LabelFor(model => model.Aktif)</li>
                    <li>@Html.EditorFor(model => model.Aktif)</li>
                    <li>@Html.ValidationMessageFor(model => model.Aktif)</li>
                </ul>
                <ul>
                    <li>
                        @Html.Button("Kaydet", new { type = "submit" })
                        @Html.Button("Vazgeç", new { onclick = "window.location.href='" + Url.Action("details", new { id = group.Id }) + "';" })
                    </li>
                </ul>
                @Html.HiddenFor(model => model.GrupID)
            </div>
        }
    </div>
</div>
