@model bgk_gorev
@{
    ViewBag.Title = "Görev Ver";
    var group = (bgk_grup)ViewBag.group;
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div class="table">
    <div class="title">Görev Ver</div>
    <div class="content">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            <div class="form">
                <ul>
                    <li>@Html.LabelFor(model => model.Adi)</li>
                    <li>@Html.EditorFor(model => model.Adi)</li>
                    <li>@Html.ValidationMessageFor(model => model.Adi)</li>
                </ul>
                <ul>
                    <li>@Html.LabelFor(model => model.Aciklama)</li>
                    <li>@Html.TextAreaFor(model => model.Aciklama)</li>
                    <li>@Html.ValidationMessageFor(model => model.Aciklama)</li>
                </ul>
                <ul>
                    <li>@Html.Label("Üyeler")</li>
                    <li>
                        @foreach (var member in group.bgk_grup_uye.Where(x => x.UyeID != (int)Session["memberID"]).ToList())
                        {
                            <div>
                                @Html.CheckBox("member_" + member.UyeID.ToString(), true)
                                @Html.Label("member_" + member.UyeID.ToString(), member.bgk_uye.AdSoyad)
                            </div>
                        }
                    </li>
                </ul>
                <ul>
                    <li>@Html.LabelFor(model => model.GunSayisi)</li>
                    <li>@Html.EditorFor(model => model.GunSayisi)</li>
                    <li>@Html.ValidationMessageFor(model => model.GunSayisi)</li>
                </ul>
                <ul>
                    <li>@Html.LabelFor(model => model.BitisTarihi)</li>
                    <li>@Html.EditorFor(model => model.BitisTarihi)</li>
                    <li>@Html.ValidationMessageFor(model => model.BitisTarihi)</li>
                </ul>
                <ul>
                    <li>@Html.LabelFor(model => model.Puan)</li>
                    <li>@Html.EditorFor(model => model.Puan)</li>
                    <li>@Html.ValidationMessageFor(model => model.Puan)</li>
                </ul>
                <ul>
                    <li>@Html.LabelFor(model => model.CezaPuani)</li>
                    <li>@Html.EditorFor(model => model.CezaPuani)</li>
                    <li>@Html.ValidationMessageFor(model => model.CezaPuani)</li>
                </ul>
                <div class="buttons">
                    @Html.Button("Kaydet", new { type = "submit" })
                    @Html.Button("Vazgeç", new { onclick = "window.location.href='" + Url.Action("details", new { id = group.Id }) + "';" })
                </div>
                @Html.MyEditor("Aciklama", "Standard")
                @Html.HiddenFor(model => model.GrupID)
            </div>
        }
    </div>
</div>