@model bgk_grup_uye

<div class="table">
    <div class="title">Grup Üye Detayları</div>
    <div class="content">
        <div class="details">
            <ul>
                <li>@Html.DisplayNameFor(model => model.UyeID)</li>
                <li>@Model.bgk_uye.AdSoyad</li>
            </ul>
            <ul>
                <li>@Html.DisplayNameFor(model => model.GrupID)</li>
                <li>@Model.bgk_grup.Adi</li>
            </ul>
            <ul>
                <li>@Html.DisplayNameFor(model => model.Aciklama)</li>
                <li>@Html.DisplayFor(model => model.Aciklama)</li>
            </ul>
            <ul>
                <li>@Html.DisplayNameFor(model => model.Tip)</li>
                <li>
                    @if (Model.Tip == 1)
                    {
                        @("Başkan")
                    }
                    else if (Model.Tip == 2)
                    {
                        @("Başkan Yardımcısı")
                    }
                    else if (Model.Tip == 3)
                    {
                        @("Normal Üye")
                    }
                </li>
            </ul>
            <ul>
                <li>@Html.DisplayNameFor(model => model.BaslangicTarihi)</li>
                <li>@Html.DisplayFor(model => model.BaslangicTarihi)</li>
            </ul>
            <ul>
                <li>@Html.DisplayNameFor(model => model.BitisTarihi)</li>
                <li>@Html.DisplayFor(model => model.BitisTarihi)</li>
            </ul>
            <ul>
                <li>@Html.DisplayNameFor(model => model.Aktif)</li>
                <li>@Html.DisplayFor(model => model.Aktif)</li>
            </ul>
        </div>
    </div>
</div>
<div class="buttons">
    @Html.Button("Düzenle", new { onclick = "window.location.href='" + Url.Action("editmember", new { id = Model.Id }) + "';" })
    @Html.Button("Üyeliğini Kaldır", new { onclick = "$.BGK.FormModal('" + Url.Action("deletemember", new { id = Model.Id }) + "', 'Kaldır', 'Vazgeç');" })
</div>